In [1]:
# import seaborn as sns
# import plotly.express as px
# import matplotlib.pyplot as plt
import pandas as pd
# import scipy.stats as st
# import numpy as np
# from scipy.stats import linregress

In [17]:
financial_df = pd.read_csv("csv_datasets/2007-2022-summarized-peims-financial-data.csv")
financial_df.head()

,DISTRICT NUMBER,DISTRICT NAME,YEAR,GEN FUNDS-LOCAL TAX REVENUE FROM M&O,ALL FUNDS-LOCAL TAX REVENUE FROM M&O,GEN FUNDS-STATE REVENUE,ALL FUNDS-STATE REVENUE,GEN FUNDS-FEDERAL REVENUE,ALL FUNDS-FEDERAL REVENUE,GEN FUNDS-OTHER LOCAL & INTERMEDIATE REVENUE,...,ALL FUNDS-TOTAL OTHER USES,GEN FUNDS-INTERGOVERN CHARGES EXPEND,ALL FUNDS-INTERGOVERN CHARGES EXPEND,GEN FUNDS-DEBT SERVICE (OBJECT 6500) FOR TD,ALL FUNDS-DEBT SERVICE (OBJECT 6500) FOR TD,GEN FUNDS-CAPITAL PROJECTS(OBJECT 6600) FOR TD,ALL FUNDS-CAPITAL PROJECTS(OBJECT 6600) FOR TD,GEN FUNDS-TOTAL DISBURSEMENTS,ALL FUNDS-TOTAL DISBURSEMENTS,FALL SURVEY ENROLLMENT
0,1902,CAYUGA ISD,2007,"$4,122,552","$4,122,552","$1,114,179","$1,176,283",$0,"$250,168","$215,239",...,"$5,829","$70,703","$70,703","$421,865","$421,865","$145,130","$156,886","$4,907,206","$5,348,377",569
1,1902,CAYUGA ISD,2008,"$3,641,351","$3,641,351","$1,845,232","$2,350,131",$0,"$1,852,221","$183,293",...,"$15,000","$75,304","$210,304",$0,$0,"$647,852","$632,398","$5,391,975","$8,274,772",580
2,1902,CAYUGA ISD,2009,"$3,319,164","$3,319,164","$1,950,169","$2,473,373",$0,"$1,714,988","$123,568",...,$0,"$166,251","$166,251",$0,$0,"$722,766","$803,313","$6,006,273","$8,819,439",594
3,1902,CAYUGA ISD,2010,"$3,222,688","$3,222,688","$2,302,369","$2,917,268",$0,"$2,851,372","$161,664",...,"$63,586","$90,462","$168,462",$0,$0,"$1,498,127","$1,582,837","$6,634,887","$10,471,817",628
4,1902,CAYUGA ISD,2011,"$3,152,618","$3,152,618","$2,439,570","$3,091,438",$0,"$2,687,377","$134,887",...,"$30,213","$96,141","$168,750",$0,$0,"$261,902","$272,638","$5,239,822","$8,883,753",606

In [13]:
# save: group, district, budget, reading, science, Comopos, 
act_campus_df = pd.read_csv("csv_datasets/act-campus-data-class-2022.csv")
act_campus_df.head()

,Group,Campus,AICode,CampName,District,DistName,County,CntyName,Region,RegnName,...,Reading,Science,Compos,Grads_Mskd,Exnees_Mskd,Part_Rate,Crit_Mskd,Above_Crit_Rate,TSI_Both_Mskd,Above_TSI_Both_Rate
0,All Students,1902001,441165,Cayuga HS,1902,Cayuga ISD,1,Anderson County,7,Kilgore,...,20.5,25.5,23.0,<50,<25,4.3,<25,50.0,<25,50.0
1,African American,1902001,441165,Cayuga HS,1902,Cayuga ISD,1,Anderson County,7,Kilgore,...,NaN,NaN,NaN,<25,<25,NaN,<25,NaN,<25,NaN
2,American Indian,1902001,441165,Cayuga HS,1902,Cayuga ISD,1,Anderson County,7,Kilgore,...,NaN,NaN,NaN,<25,<25,NaN,<25,NaN,<25,NaN
3,Asian,1902001,441165,Cayuga HS,1902,Cayuga ISD,1,Anderson County,7,Kilgore,...,NaN,NaN,NaN,<25,<25,NaN,<25,NaN,<25,NaN
4,Hispanic,1902001,441165,Cayuga HS,1902,Cayuga ISD,1,Anderson County,7,Kilgore,...,NaN,NaN,NaN,<25,<25,NaN,<25,NaN,<25,NaN

In [12]:
campus_df = pd.read_csv("csv_datasets/campus-analyze-2021-22.csv")
campus_df.head()

,Campus Name,Campus,Campus Type,Campus Type Description
0,21ST CENTURY EARLY LEARNING FOUNDATIONS ACADEMY,108913118,21,21-Suburb: Large
1,2ND H S IN THE DISTRICT,152906004,41,41-Rural: Fringe
2,3D ACADEMY,108902006,21,21-Suburb: Large
3,A & M CONS H S,21901001,12,12-City: Mid-size
4,A & M CONSOLIDATED MIDDLE,21901042,12,12-City: Mid-size

In [20]:
drop_df = pd.read_csv("csv_datasets/campus-data-download-drop-2122.csv")
drop_df

C:\Users\yama2\AppData\Local\Temp\ipykernel_22120\3987359900.py:1: DtypeWarning: Columns (13,58,67,79,82,85,91,94,97) have mixed types. Specify dtype option on import or set low_memory=False.
  drop_df = pd.read_csv("csv_datasets/campus-data-download-drop-2122.csv")

,CALC_FOR_STATE_ACCT,GRADESPAN,CAMPUS,CAMPNAME,DISTRICT,DISTNAME,COUNTY,CNTYNAME,REGION,REGNNAME,...,CAMP_SE5R,CAMP_SPED,CAMP_SPEN,CAMP_SPER,CAMP_TSTEMD,CAMP_TSTEMN,CAMP_TSTEMR,CAMP_TTLD,CAMP_TTLN,CAMP_TTLR
0,No,712,1902001,Cayuga HS,1902,Cayuga ISD,1,Anderson County,7,Kilgore,...,0.0,30,0,0.0,0,0,.,173,0,0.0
1,Yes,712,1902001,Cayuga HS,1902,Cayuga ISD,1,Anderson County,7,Kilgore,...,0.0,30,0,0.0,0,0,.,173,0,0.0
2,No,912,1902001,Cayuga HS,1902,Cayuga ISD,1,Anderson County,7,Kilgore,...,0.0,30,0,0.0,0,0,.,173,0,0.0
3,Yes,912,1902001,Cayuga HS,1902,Cayuga ISD,1,Anderson County,7,Kilgore,...,0.0,30,0,0.0,0,0,.,173,0,0.0
4,No,712,1902041,Cayuga Middle,1902,Cayuga ISD,1,Anderson County,7,Kilgore,...,0.0,24,0,0.0,0,0,.,116,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18472,Yes,712,254902001,La Pryor HS,254902,La Pryor ISD,254,Zavala County,20,San Antonio,...,0.0,-3,-3,0.0,0,0,.,216,4,1.9
18473,No,78,254902001,La Pryor HS,254902,La Pryor ISD,254,Zavala County,20,San Antonio,...,0.0,-1,-1,-1,0,0,.,80,1,1.3
18474,Yes,78,254902001,La Pryor HS,254902,La Pryor ISD,254,Zavala County,20,San Antonio,...,0.0,-1,-1,-1,0,0,.,80,1,1.3
18475,No,912,254902001,La Pryor HS,254902,La Pryor ISD,254,Zavala County,20,San Antonio,...,0.0,16,0,0.0,0,0,.,137,3,2.2
18476,Yes,912,254902001,La Pryor HS,254902,La Pryor ISD,254,Zavala County,20,San Antonio,...,0.0,15,0,0.0,0,0,.,136,3,2.2

In [18]:
total_expenditures_df = pd.read_csv("csv_datasets/sat-campus-data-class-2022.csv")
total_expenditures_df.head()

,Group,Campus,AICode,CampName,District,DistName,County,CntyName,Region,RegnName,ERW,Math,Total,Grads_Mskd,Exnees_Mskd,Part_Rate,Crit_Mskd,Above_Crit_Rate,TSI_Both_Mskd,Above_TSI_Both_Rate
0,All Students,1902001,441165,Cayuga HS,1902,Cayuga ISD,1,Anderson County,7,Kilgore,513.0,496.0,1009.0,<50,<50,63.0,<25,10.3,<25,27.6
1,African American,1902001,441165,Cayuga HS,1902,Cayuga ISD,1,Anderson County,7,Kilgore,NaN,NaN,NaN,<25,<25,100.0,<25,NaN,<25,100.0
2,American Indian,1902001,441165,Cayuga HS,1902,Cayuga ISD,1,Anderson County,7,Kilgore,NaN,NaN,NaN,<25,<25,NaN,<25,NaN,<25,NaN
3,Asian,1902001,441165,Cayuga HS,1902,Cayuga ISD,1,Anderson County,7,Kilgore,NaN,NaN,NaN,<25,<25,NaN,<25,NaN,<25,NaN
4,Hispanic,1902001,441165,Cayuga HS,1902,Cayuga ISD,1,Anderson County,7,Kilgore,535.0,480.0,1015.0,<25,<25,50.0,<25,NaN,<25,50.0

In [14]:
total_expenditures_df = pd.read_csv("csv_datasets/total-operating-expenditures.csv")
total_expenditures_df

,CDN,District,2005-2006,Unnamed: 3,Unnamed: 4,2006-2007,Unnamed: 6,Unnamed: 7,2007-2008,Unnamed: 9,...,Unnamed: 34,2016-2017,Unnamed: 36,Unnamed: 37,2017-2018,Unnamed: 39,Unnamed: 40,2018-2019,Unnamed: 42,Unnamed: 43
0,NaN,NaN,"Total Operating Expenditures, All Funds 1",Enrollment (membership)2,All Funds Operating Expenditures per Student,"Total Operating Expenditures, All Funds 1",Enrollment (membership)2,All Funds Operating Expenditures per Student,"Total Operating Expenditures, All Funds 1",Enrollment (membership)2,...,All Funds Operating Expenditures per Student,"Total Operating Expenditures, All Funds 1",Enrollment (membership)2,All Funds Operating Expenditures per Student,"Total Operating Expenditures, All Funds 1",Enrollment (membership)2,All Funds Operating Expenditures per Student,"Total Operating Expenditures, All Funds 1",Enrollment (membership)2,All Funds Operating Expenditures per Student
1,001902,CAYUGA ISD,"$4,419,577",582,"$7,594","$4,693,094",569,"$8,248","$7,417,070",580,...,"$14,924","$8,331,442",576,"$14,464","$8,325,066",575,"$14,478","$8,558,886",564,"$15,175"
2,001903,ELKHART ISD,"$8,655,605","1,294","$6,689","$8,955,664","1,319","$6,790","$9,559,209","1,375",...,"$8,953","$11,147,631","1,267","$8,798","$11,503,115","1,233","$9,329","$11,696,322","1,254","$9,327"
3,001904,FRANKSTON ISD,"$6,475,854",797,"$8,125","$6,584,942",789,"$8,346","$7,085,955",801,...,"$9,170","$8,218,507",846,"$9,715","$8,406,173",872,"$9,640","$8,802,724",803,"$10,962"
4,001906,NECHES ISD,"$2,641,035",329,"$8,027","$2,721,193",352,"$7,731","$2,981,438",361,...,"$10,626","$3,979,099",377,"$10,555","$4,046,814",360,"$11,241","$4,021,890",366,"$10,989"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1319,NaN,State Total,"$33,734,468,768","$4,504,627","$7,489","$35,890,138,442","4,576,678","$7,842","$38,805,399,085","4,651,012",...,"$9,308","$50,324,982,318","5,341,009","$9,422","$52,435,381,781","5,384,847","$9,738","$53,692,440,166","5,416,161","$9,913"
1320,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1321,1. Total Operating expenditures All funds are ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1322,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1323,2. Membership is the total number of students ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN